.WebChinh{
    font-size: 22px;
    font-weight: bolder;
    line-height: 16px;
    color: white;
}
.fontSize{
    font-size: 3.46667rem;
    line-height: 1.07692;
    margin-bottom: 15px;
    font-weight: 300;
}
.content{
    margin: 50px;
}