.WebChinh{
    font-size: 22px;
    font-weight: bolder;
    line-height: 22px;
    color: white;
}
.fontSize{
    font-size: 3.46667rem;
    line-height: 1.07692;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
}
.nato{
    width: 95.4%;
    position:absolute;
    bottom: 0px;
    background-color: rgb(212, 212, 212);
    height: 75px;
    left: 15px;
    font-size: 22px;
    padding-left: 15px;
    opacity: 0.8;
}
.natoChu{
    font-weight: bolder;
}
.hangWordl{
    margin-top: 8px;
    font-weight: 300;
    cursor: pointer;
    font-size:  22px;
}
.otren{
    border-top: 1px dotted black;
}
.tieude{
    margin-top: 20px;
    background-color: #f2f2f2;
    text-indent: 15px;
}
.bordertren{
    border-top: 10px double #c7c5c5;
}
.lanTren{
    text-shadow: ;
}