.WebChinh{
    font-size: 22px;
    font-weight: bolder;
    line-height: 22px;
    color: white;
}
.fontSize{
    font-size: 3.46667rem;
    line-height: 1.07692;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
}

.prositonQuangCao{
    position: relative;
}

.nato{
    width: 95.4%;
    position:absolute;
    bottom: 0px;
    background-color: lightblue;
}
img{
    position: static;
}